<%- include ('./includes/header') %>

    <body>
        <section>
            <div id="contents">
                <div id="infor">

                <table>
                    <tr>
                        <td><b>이름</b></td>
                        <td> <%= name %> </td>
                    </tr>
                    <tr>
                        <td><b>아이디</b></td>
                        <td> <%= id %> </td>
                    </tr>
                    <tr>
                        <td><b> 이메일</b></td>
                        <td> <%= email %> </td>
                    </tr>

                <div>
                </table>
            </div>
        </section>

    </body>

    </html>