<%- include ('./includes/header') %>
<body>
    <section>
        <div id='contents'>
            <h2>
                    <%= current %>님 환영합니다!
            </h2>
        </div>
    </section>

</body>

</html>